body{
    font-family: "Plus Jakarta Sans" !important;
    display:flex;
    flex-direction:column;
    min-height:100vh;
}
.navbar{
    height: 5rem;
    background-color: white;
}

.brand-icon{
    color: #DC3545 !important;
}

.collapse navbar-collapse{
    color: #DC3545 !important;
}

.container{
    flex:1;
}

footer{
    background-color: rgb(192, 198, 203);
}
.fa-hotel{
    color : #fe424d;
    font-size: 1.5rem;
}
.nav-link{
    color : #222222 !important; 
}
.f-info-links a{
    text-decoration: none;
    color:#222222 !important;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links,.f-info-socials ,.f-info-brand{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;

}

.f-info-socials i{
    font-size :1.2rem;
    margin-right: 1rem;
    color: #222222;
}

.f-info-socials{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-right:0.5rem;
}


.f-info{
    text-align: center;
    height:8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.listing-card{
    border:none !important;
    margin-bottom: 2rem;

}

.card-img-top{
    border-radius:1rem !important;
    width:100 !important;
    object-fit: cover !important;
    -webkit-border-radius:1rem !important;
    -moz-border-radius:1rem !important;
    -ms-border-radius:1rem !important;
    -o-border-radius:1rem !important;
}

.card-body{
    padding :0;
}

.card-text p{
    font-weight: 400;
}


.listing-link{
    text-decoration:none ;
    color: #222222;
}

/* card effect*/

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.add-btn{
    background-color: #fe424d !important;
    border:none !important;
}

/* show page */
.show-img {
    height: 30vh;
}

.btns{
    display:flex ;
}

.show-card{
    padding-left:0;
    padding-right: 0;
}

